form{
  padding: 0 50px;
}
.form-control {
  margin: 20px 0;
  height: 150px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: gray;
  border-radius: 4px;
}

.adresse{
  display: flex;
  justify-content: space-around;
}


