.avatar {
  width: 80px;
  border-radius: 50%;
}

.avatar-big{
  width: 180px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px 15px 0;
}

.avatar-small {
  width: 50px;
  border-radius: 50%;
}
