
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.page-footer, .page-wrap:after {
  height: 100px;
  text-align: center;
}
.page-footer {
  background: #E6E6E6;
}
