nav{
  background-color: $nav-green;
  ul{
    width: 100%;
    display : flex;
    justify-content: space-around;
  }
}

#nav-mobile{
  a{
  color: $nav-green;
  font-weight: 500;
  }
}

.permanent-bar{
  width: 100%;
  background-color: white;
  color: #3B2871;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 20px;

    .permanent-bigger{
      font-size: 40px;

    }
  }


