nav{
  background-color: $nav-green;
  ul{
    width: 100%;
    display : flex;
    justify-content: space-around;
  }
}

#nav-mobile{
  a{
  color: $nav-green;
  font-weight: 500;
  }
}

.permanent-bar{
  width: 100%;
  margin-bottom: 0;
  background-color: white;
  color: #FEAE3C;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  padding: 0 10px;
    .permanent-logo{
      font-size: 40px;
      a{
        color: #FEAE3C;
      }
    }
  }



