.banner-wrap-color{
  background-color: $nav-green;
  padding: 10px 50px 10px 50px;
  color: white;
  font-style: italic;
  opacity: 0.7;
  h4{
    line-height:150%;
  }
}

.presentation-bloc{
  padding-bottom: 20px;
}

