.img-goutte{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:250px;
}

.copyright-txt{
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
  margin-top: 10px;
  padding-bottom:5px;
}
