<footer class="page-footer">
  <div> © Copyright <%= link_to 'Sarah Reneaume', 'http://www.sarahreneaume.com', target:"_blank" %></div>
  <div>Site de Sylvie Lelièvre, Naturopathe à Nantes et aux Herbiers</div>
  <div><%= link_to 'Mentions légales', '/mentions-legales.html', target:"_blank" %></div>
</footer>
