/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$nav-green : #4db6ac;


/* ==========================================================================
   UTILITIES
   ========================================================================== */
*{
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Raleway', 'Open Sans', sans-serif;

    h1 {
      font-size: 2rem;
      color: #9C9A9B;
    }
    h2 {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 2rem;
      font-family: 'Amatic SC', 'Raleway', 'Helvetica', cursive;
      color: #FEAE3C;
      padding: 10px 0;
    }
    h4 {
      font-size: 1.2rem;
    }
    h5 {
      font-size: 0.8rem;
    }
    h6 {
      font-size: 0.6rem;
    }
    p {
      font-size: 1rem;
    }
    a{
      color: #1FA8C4;
      text-decoration: none;
    }
}

/* ==========================================================================
   BASIC GRAPHIC ELEMENTS
   ========================================================================== */
.adjusted-container {
  margin: 15px auto;
  width: 80%;
}

.smaller-adjusted-container {
  margin: 15px auto 50px auto;
  width: 70%;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */








