---
layout: home
title: Mes Ateliers Cru, Naturopathie et Micronutrition
---

<div class="banner-subpage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../images/cru-1.jpg');">
  <h1 class= "white-text">Mes Ateliers</h1>
</div>

<div class="adjusted-container">

  <h3>Je vous propose des ateliers autour du cru et de l'alimentation</h3>
  <br>

  <div class="row">
    <div class ="col s12 m3">
      <img class="responsive-img" src="../images/Legumes.jpg" alt="légumes">
    </div>
    <div class ="col s12 m9">
   L'Alimentation vivante ou alimentation haute vitalité est une alimentation constituée de nourriture "vivante" 100 % naturelle : des graines germées, des fruits et légumes crus et fraîchement cueillis, des graines et fruits oléagineux pré-germés, des algues alimentaires, et des aliments n'ayant été ni cuits ni raffinés, les moins dénaturés possible. Ces aliments seront de préférence biologiques ou cultivés selon les règles de la bio-dynamie*, des végétaux non traités non issus d’hybridations ou de manipulations génétiques, dénués d'artifices de culture, ayant poussé sur un sol sain.
    </div>
  </div>

    <div class="row">
    <div class ="col s12 m3">
      <img class="responsive-img" src="../images/Ble.jpg" alt="blé">
    </div>
    <div class ="col s12 m9">
   L'Alimentation vivante ou alimentation haute vitalité est une alimentation constituée de nourriture "vivante" 100 % naturelle : des graines germées, des fruits et légumes crus et fraîchement cueillis, des graines et fruits oléagineux pré-germés, des algues alimentaires, et des aliments n'ayant été ni cuits ni raffinés, les moins dénaturés possible. Ces aliments seront de préférence biologiques ou cultivés selon les règles de la bio-dynamie*, des végétaux non traités non issus d’hybridations ou de manipulations génétiques, dénués d'artifices de culture, ayant poussé sur un sol sain.
    </div>
  </div>

</div>
