---
title: Mes Consultations Naturopathie et Micronutrition, à Nantes et aux Herbiers
---

<div class="box">
  <div class="flex-item flex-img-bigger">
    <%= image_tag 'Marguerite.jpg', class: "img-column", alt: "marguerite" %>
  </div>

  <div class="flex-item flex-txt">
    <h1>Consultation</h1>

    <div class ="center-align">
      <%= image_tag 'user.png', class: "responsive-img avatar", alt: "Sylvie" %>
    </div>
    <br>
    <br>
    <div>Sylvie a depuis son adolescence, été convaincue de la nécessité de prendre soin de soi et des autres. Elle s’est tout naturellement tournée vers le métier d’infirmière pour répondre à ce besoin profond de communication. Des soucis de santé l’ont amenée à réfléchir sur les causes et les origines des maladies et sur les bonnes habitudes préventives à prendre pour préserver au mieux notre santé. C’est cette approche préventive qui l’a guidée vers les médecines complémentaires, et sa passion pour l’alimentation santé vers le métier de naturopathe. Sa formation et ses compétences acquises lui permettent aujourd’hui de vous apporter des conseils simples et personnalisés, souvent méconnus du grand public, mais qu’il est possible d’intégrer
    simplement dans votre vie quotidienne.</div>
    <div>Sa passion pour les plantes et ce que la nature peut nous apporter lui permettent au quotidien de continuer dans cette voie et de se former continuellement pour étendre ses connaissances. Son métier d’infirmière lui a également permis d’acquérir un grand sens de l’écoute et une empathie, et c’est avec ces multiples atouts que Sylvie vous propose aujourd’hui un accompagnement et des conseils de qualité.</div>
    <br>
    <div>Des questions, contactez-moi et discutons-en !</div>
  </div>
</div>


<!-- <h1>Mes Consultations</h1>

<h3>Comment se passe une consultation?</h3>
  <div class="row">
    <div class ="col s12 m4 border-left">
      <div class="step-num center-align">LA DISCUSSION</div>
      <p> L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.
      </p>
    </div>

    <div class ="col s12 m4 border-left">
      <div class="step-num center-align">LE DIAGNOSTIC</div>
      <p>Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".</p>
    </div>

     <div class ="col s12 m4 border-left">
      <div class="step-num center-align">LE SOIN</div>
        <p>La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ».</p>
    </div>

  </div> -->

