---
title: Mes Consultations Naturopathie et Micronutrition, à Nantes et aux Herbiers
layout : home
---

<div class="box">
  <div class="flex-item flex-img-bigger">
    <%= image_tag 'Marguerite.jpg', class: "img-column", alt: "marguerite" %>
  </div>

  <div class="flex-item flex-txt">
    <h1>Consultation et tarifs</h1>

    <div>Je vous propose un bilan individualisé prenant en compte vos habitudes alimentaires, l’état de votre peau, de vos ongles, de vos cheveux ainsi que les différents troubles qui peuvent vous affecter.
    <br>
    Je vous apporte, suite à notre entretien et aux résultats de ce bilan , des conseils alimentaires ainsi que des compléments à base de minéraux, de vitamines, d’oligoéléments et de plantes ainsi que des conseils pour ajuster votre alimentation en fonction des déséquilibres mis en évidence par le bilan.</div>
    <br>
    <div><strong>Tarifs :</strong>
    <br>
    Première consultation (durée : de 1heure 30 à 2 heures) : 55 euros
    <br>
    Consultations de suivi : 45 euros</div>
    <br>
    <div>Des questions? Contactez-moi et discutons-en !</div>
  </div>
</div>


<!-- <h1>Mes Consultations</h1>

<h3>Comment se passe une consultation?</h3>
  <div class="row">
    <div class ="col s12 m4 border-left">
      <div class="step-num center-align">LA DISCUSSION</div>
      <p> L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.
      </p>
    </div>

    <div class ="col s12 m4 border-left">
      <div class="step-num center-align">LE DIAGNOSTIC</div>
      <p>Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".</p>
    </div>

     <div class ="col s12 m4 border-left">
      <div class="step-num center-align">LE SOIN</div>
        <p>La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ».</p>
    </div>

  </div> -->

