---
title: Mes Consultations Naturopathie et Micronutrition, à Nantes et aux Herbiers
---

<h1>Mes Consultations</h1>

<h3>Comment se passe une consultation?</h3>
  <div class="row">
    <div class ="col s12 m4 ">

        <p> L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.
        </p>
    </div>

       <div class ="col s12 m4">
        <p>
        Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".</p>
    </div>

     <div class ="col s12 m4">
        <p>
        La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ». Cependant, il faut noter que ses principes, issus de méthodes disparates, n'ont pas été scientifiquement validés - la naturopathie reste essentiellement considérée comme une pseudo-science.</p>
    </div>

    </div>

