<h1>Contactez-moi</h1>

<form action="https://formspree.io/slelievre55@gmail.com" method="POST">
  <input type="text" name="name" placeholder="Votre nom" class="form-control" id="nom-utilisateur" required>
  <input type="email" name="_replyto" placeholder="Votre email" class="form-control" id="email-utilisateur" required>
  <textarea name="body" placeholder="Entrez ici votre message" class="form-control"></textarea>
  <br>
  <input type="hidden" name="_next" value="/">
  <input type="submit" value="Envoyer">
</form>

<br>
<br>
  <h4 class="center-align">Vous pouvez aussi m'envoyer un email directement, il suffit de cliquer <a href="mailto:slelievre55@gmail.com" target="_blank" class="normal-link">ici</a>.</h4>


