---
layout: home
---

<div class="banner-subpage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= image_path "bourgeon2.jpg" %>);" alt="Bourgeon">
  <h1 class= "white-text">Gemmothérapie</h1>
</div>

<div class="adjusted-container">
<br>
  <h4 class = "citation-couleur-bleu center-align">«<i> On ne peut isoler l’homme de la nature, de son milieu, de son environnement, et c’est au sein de celui-ci que la clef de son équilibre et de sa guérison est universellement inscrite </i>»</h4>
  <h4 class = "citation-couleur-bleu center-align">Pol Henry</h4>

  <br>

  <div>
      <p>La gemmothérapie, appelée médecine des bourgeons constitue une part de la phytothérapie (traitement par les plantes)  peu connue du grand public.
      Elle mobilise <b>les énergies biologiques  des jeunes pousses, radicelles et bourgeons du végétal (éléments embryonnaires)</b>. Les bourgeons des végétaux contiennent <b>toute la puissance énergétique de la future plante.</b></p>
      <br>
        <p>Par exemple:</p>
        <p>- le macérat glycériné de Cassis (<i>Ribes Nigrum</i>) possède des propriétés  anti-inflammatoires sur tous les systèmes (digestif, respiratoire, articulaire, uro-génital... )</p>
        <p>- Le macérat glycériné de Tilleul (<i>Tilia tomentosa</i>) possède des propriétés sédatives. C’est un tranquillisant végétal et un antispasmodique.</p>
      </br>
      <p><b>Cette thérapeutique constitue une thérapie végétale active dans la régénération, la stimulation et le drainage cellulaire.</b> Ces préparations de bourgeons sous forme de macérats glycérinés stimulent les organes d’élimination, exercent une action drainante et facilitent la désintoxication de l’organisme. Elles peuvent avoir une action au niveau physique mais également énergétique et émotionnel. La gemmothérapie s’utilise seule, en monothérapie unitaire ou sous forme de complexes.</p>
    </div>


</div>
<br>
