

<div class="slider-soon" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('../images/Legumes.jpg');">
  <h1>Sylvie Lelievre</h1>
  <h4>Naturopathe à Nantes et aux Herbiers</h4>
</div>

<div class="adjusted-container">

  <div class="expertise-section">
    <div class="expertise-bloc">
      <h3 class="expertise-picto">Carences alimentaires</h3>
      <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
    <div class="expertise-bloc">
      <h3 class="expertise-picto">Cure de cru</h3>
      <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
    <div class="expertise-bloc">
       <h3 class="expertise-picto">Intoxication externes</h3>
       <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
    <div class="expertise-bloc">
       <h3 class="expertise-picto">Situations stressantes</h3>
       <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
  </div>


  <div class="presentation-top">
    <h3>Comment se passe une consultation?</h3>
    <div class="presentation-section">
      <video width="640"  height="360" src="https://www.youtube.com/watch?v=SN_NN3NbY6I" class="presentation-item presentation-video" controls autobuffer> </video>
      <div class="presentation-item  presentation-text"> L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.

      Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".

      La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ». Cependant, il faut noter que ses principes, issus de méthodes disparates, n'ont pas été scientifiquement validés - la naturopathie reste essentiellement considérée comme une pseudo-science.</div>
    </div>
  </div>

  <div class="presentation-top">
    <h3>Comment se passe une consultation?</h3>
    <div class="presentation-section">
      <div class="presentation-item presentation-text ">L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.

      Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".

      La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ». Cependant, il faut noter que ses principes, issus de méthodes disparates, n'ont pas été scientifiquement validés - la naturopathie reste essentiellement considérée comme une pseudo-science.</div>
      <img src="../images/Pommes.jpg" width="640"  height="360" alt="fruits" class="presentation-item presentation-pic">
    </div>
  </div>

</div>



