
<div class="topbar">
  <div class="top-contact-infos">
    <div class="infos-nom">
      <div> Sylvie Lelièvre</div>
      <div> Infirmière & Naturopathe</div>
    </div>
     <div class="infos-adresse">
      <div> 30 rue de la Californie</div>
      <div>06.13.50.05.82</div>
    </div>
  </div>
  <div class="navbar">
    <div>Mes Spécialités</div>
    <div>Mes Ateliers</div>
    <div>Mon Parcours</div>
    <div>Consultations/Tarifs</div>
    <div>Contact</div>
  </div>
</div>

<div class="slider"></div>

<div class="adjusted-container">

  <div class="expertise-section">
    <div class="expertise-bloc">
      <div class="expertise-picto">Carences alimentaires</div>
      <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
    <div class="expertise-bloc">
      <div class="expertise-picto">Cure de cru</div>
      <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
    <div class="expertise-bloc">
       <div class="expertise-picto">Intoxication externes</div>
       <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
    <div class="expertise-bloc">
       <div class="expertise-picto">Situations stressantes</div>
       <div class="ul expertise-list">
        <div class="li expertise-line">a</div>
        <div class="li expertise-line">b</div>
        <div class="li expertise-line">c</div>
        <div class="li expertise-line">d</div>
        <div class="li expertise-line">e</div>
      </div>
    </div>
  </div>

  <div class="presentation-section">
    <div class="presentation-item presentation-video"><video width="640"  height="360" src="https://www.youtube.com/watch?v=SN_NN3NbY6I"  controls autobuffer></div>
    <div class="presentation-item  presentation-text">L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.

    Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".

    La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ». Cependant, il faut noter que ses principes, issus de méthodes disparates, n'ont pas été scientifiquement validés - la naturopathie reste essentiellement considérée comme une pseudo-science.</div>
  </div>

  <h4>Qu'est ce que la naturopathie?</h4>
  <br>
  <p>L’Organisation Mondiale de la Santé (O.M.S.) classe la naturopathie comme 3ème médecine traditionnelle mondiale, après les médecines traditionnelles chinoises et ayurvédiques. C’est sur ces bases que le Bureau International du Travail l’a officiellement enregistrée en 1968 et que de son côté, l’UNESCO la considère comme une médecine traditionnelle également.

  Aujourd’hui  l’O.M.S.  définit  la santé pour l’individu comme un « état complet de bien-être  physique, mental et social », et toujours selon l’OMS, "la naturopathie est un ensemble de méthodes de soins visant à renforcer les défenses de l'organisme par des moyens considérés comme naturels et biologiques".

  La naturopathie est une médecine non conventionnelle qui vise à équilibrer le fonctionnement de l'organisme par des moyens jugés « naturels » : régime alimentaire, hygiène de vie, phytothérapie, techniques manuelles, exercices, etc. Elle fait partie des approches non conventionnelles qui se disent « holistiques ». Cependant, il faut noter que ses principes, issus de méthodes disparates, n'ont pas été scientifiquement validés - la naturopathie reste essentiellement considérée comme une pseudo-science.</p>

</div>
 <div class="footer"> This is the footer</div>

