<br>
<h3>Conditions générales d’utilisation – Mentions légales</h3>

<p>La consultation du site web www.adaction.fr ci après dénommé « Le Site », "le site" ou "le site web" suppose l'acceptation sans réserves des présentes conditions d'utilisation.

Editeur du site

Raison sociale : SARL ADACTION
Siège social : 30 rue de la Californie - 44400 REZÉ
Siret : 530 964 378 00018 RCS Nantes
Forme sociale : SARL à associé unique au capital de 408 200 euros
Contact mail : e.lelievre@adaction.fr
Hébergement

Site hébergé sur les serveurs de Netissime.

Droits d’auteur

L’ensemble des éléments constituant le site (textes, graphismes, logiciels, photographies, images, vidéos, sons, plans, noms, logos, marques, créations et oeuvres protégeables diverses, bases de données, etc...) ainsi que le site lui-même, relèvent des législations françaises et internationales sur le droit d’auteur et la propriété intellectuelle.

Ces éléments sont la propriété exclusive de l’éditeur du site hormis les éléments réalisés par des intervenants extérieurs n’ayant pas cédé leurs droits d’auteurs ou leurs droits voisins.

De plus il est respecté les articles

Article L 122-4. du Code de la Propriété Intellectuelle
Article L122-5. du Code de la Propriété Intellectuelle


Protection des données personnelles

Conformément à l’article 27 de la loi n°78-17 du 6 janvier 1978, vous disposez à tout moment d’un droit d’accès et de rectification des données vous concernant. Ce droit peut être exercé par courrier postal ou courrier électronique ( e.lelievre@adaction.fr )

auprès de l’éditeur du Site :

Adresse : adaction - 30 rue de la Californie - 44400 REZÉ
L’Editeur du site est le producteur de cette base de donnée au sens de l’article L 342-1 du Code de la Propriété Intellectuelle. Toute extraction ou utilisation du contenu de la base non expressément autorisée peut engager la responsabilité civile et/ou pénale de son auteur. L’éditeur du Site se réserve la possibilité de saisir toutes voies de droit à l’encontre des personnes qui n’auraient pas respecté cette interdiction.

Aucune des données collectées ne sera transféres à des entreprises tierces. Nous utilisons les renseignements personnels seulement afin de pouvoir répondre à la demande des internautes nous contactant. Les renseignements personnels recueillis seront conservés jusqu’à ce que votre demande ait été traitée et nous sommes les seules personnes à avoir accès à vos informations.


Responsabilités

L’éditeur du Site décline toute responsabilité :

En cas d’interruption du site pour des opérations de maintenance techniques ou d’actualisation des informations publiées ;
En cas d’impossibilité momentanée d’accès au site (et/ou aux sites lui étant liés) en raison de problèmes techniques et ce quelles qu’en soient l’origine et la provenance;
En cas de dommages directs ou indirects causés à l’utilisateur, quelle qu’en soit la nature, résultant du contenu, de l’accès, ou de l’utilisation du site (et/ou des sites qui lui sont liés) ;
En cas d’utilisation anormale ou d’une exploitation illicite du site. L’utilisateur du site est alors seul responsable des dommages causés aux tiers et des conséquences des réclamations ou actions qui pourrait en découler. L’utilisateur renonce également à exercer tout recours contre l’éditeur du site dans le cas de poursuites diligentées par un tiers à son encontre du fait de l’utilisation et/ou de l’exploitation illicite du site.
Liens hypertextes

Le site peut contenir des liens hypertextes vers des sites exploités par des tiers. Ces liens sont fournis à simple titre d’information. L’éditeur n'exerce aucun contrôle sur ces sites et décline toute responsabilité quant à l’accès, au contenu ou à l’utilisation de ces sites, ainsi qu’aux dommages pouvant résulter de la consultation des informations présentes sur ces sites. La décision d'activer ces liens relève de la pleine et entière responsabilité de l’internaute.

La mise en place de liens hypertextes d’un site tiers vers le site de l’éditeur nécessite l’accord préalable de l’éditeur.


Modifications des mentions légales

L’éditeur se réserve le droit de modifier, librement et à tout moment, les Mentions Légales du site. Chaque internaute se connectant au site est invité à consulter régulièrement les présentes mentions légales afin de prendre connaissance de changements éventuels. L’utilisation renouvelée du site au fur et à mesure de la modification de ces conditions d’utilisation constitue l'acceptation, par chaque utilisateur, des Mentions Légales en vigueur.


Attribution de la juridiction – Loi applicable

Les présentes mentions légales sont soumises au droit français, qui détermine, au cas par cas, la loi applicable. En l’absence de toute disposition impérative contraire ou en présence d’un choix dans la détermination de la loi applicable, la loi française sera appliquée.
</p>
