---
layout: home
---

<div class="banner-subpage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= image_path "cru-1.jpg" %>);" alt="Légumes crus">
  <h1 class= "white-text">Nutrition</h1>
</div>

<div class="adjusted-container">
  <br>
  <h4 class = "citation-couleur-bleu center-align">«<i> Que ton alimentation soit ta première médecine </i>»</h4>
  <h4 class = "citation-couleur-bleu center-align">Hippocrate</h4>
  <br>

  <div>
     <p>La nutrition, ça commence par l’alimentation dès la naissance. En ce début de millénaire, elle est au centre des préoccupations de beaucoup d’entre nous et notamment des jeunes parents. La nourriture absorbée a une grande influence sur notre état de santé. Nous luttons pour devenir des consommateurs éclairés à qui on ne peut plus faire ingurgiter n’importe quoi. </p>
      <p>Il est essentiel de réfléchir à notre alimentation afin de faire nos choix en pleine conscience et vivre dans une meilleure écoute de nous même. Chacun sait que les produits conventionnels, à fortiori industriels ou transformés peuvent être à l'origine de nombreuses problématiques plus ou moins graves.  Ces produits ou aliments contiennent des molécules qui perturbent notre équilibre corporel.</p>
  </div>

    <br>
    <h4 class = "citation-couleur-bleu center-align">«<i> Peu à peu, un homme qui observe chaque jour une certaine nourriture, finit par en être modifié, tire de ses mets une force, ou contracte, grâce à eux, des maux qu’il ne connaissait pas.</i>»</h4>
    <h4 class = "citation-couleur-bleu center-align">Marguerite Yourcenar</h4>
    <br>

   <div>
     <p>Bien se nourrir, c’est : </p>

     <ul>
       <li>- Utiliser des aliments de haute qualité nutritionnelle</li>
       <li>- Choisir des aliments proches de la nature et au maximum biologiques, des aliments «vivants»</li>
       <li>- Equilibrer son alimentation pour avoir les nutriments nécessaires à une bonne santé</li>
       <li>- Prendre et conserver de saines habitudes alimentaires ainsi que du plaisir à manger</li>
     </ul>
     <br>

     <p>Les aliments de grande consommation sont toujours mieux présentés, colorés, nettoyés et aseptisés. La couleur, le sucre et le sel masquent  la fadeur des ingrédients utilisés.</p>
     <p><b> Retrouvez le goût des aliments bons pour vos papilles, ils le seront aussi pour votre santé.</b></p>

     <br>

      <p>... Et aussi :</p>

      <ul>
       <li>- Notre manière de nous alimenter est culturelle. Nous sommes le produit de notre culture et dans chaque culture, il y a des nourritures, des habitudes, des coutumes qui influent nos choix alimentaires.</li>
       <li>- L’alimentation est également émotionnelle. Nos états d’âme influent sur les types et la quantité d’aliments que l’on mange.</li>
       <li>- L’alimentation est aussi le reflet de la relation d’une personne à sa vie, à sa famille, à soi même.</li>
       <li>- Changer le comportement d’une personne en matière d’alimentation, ce peut être une descente au plus profond de sa personnalité.</li>
     </ul>

     <br>

     <p>Il n’est pas toujours facile de changer ses habitudes alimentaires. Mon rôle est de vous accompagner pour le faire dans la douceur et dans le temps.</p>

  </div>


</div>
<br>
