---
layout: home
title: Sylvie Lelièvre, Naturopathe et Infirmière, à Nantes et aux Herbiers
description: Sylvie Lelièvre est naturopathe à Nantes et aux Herbiers. Elle a longtemps exercé comme infirmière et s'est spécialisée dans la micronutrition et le soin par l'alimentation.
---
<div class="box">
  <div class="flex-item flex-img-bigger">
    <%= image_tag 'Marguerite.jpg', class: "img-column", alt: "marguerite" %>
  </div>

  <div class="flex-item flex-txt">
    <h1>Qui suis-je?</h1>

    <div class ="center-align">
      <%= image_tag 'user.png', class: "responsive-img avatar", alt: "Sylvie" %>
    </div>
    <br>
    <br>
    <div>Sylvie a depuis son adolescence, été convaincue de la nécessité de prendre soin de soi et des autres. Elle s’est tout naturellement tournée vers le métier d’infirmière pour répondre à ce besoin profond de communication. Des soucis de santé l’ont amenée à réfléchir sur les causes et les origines des maladies et sur les bonnes habitudes préventives à prendre pour préserver au mieux notre santé. C’est cette approche préventive qui l’a guidée vers les médecines complémentaires, et sa passion pour l’alimentation santé vers le métier de naturopathe. Sa formation et ses compétences acquises lui permettent aujourd’hui de vous apporter des conseils simples et personnalisés, souvent méconnus du grand public, mais qu’il est possible d’intégrer
    simplement dans votre vie quotidienne.</div>
    <div>Sa passion pour les plantes et ce que la nature peut nous apporter lui permettent au quotidien de continuer dans cette voie et de se former continuellement pour étendre ses connaissances. Son métier d’infirmière lui a également permis d’acquérir un grand sens de l’écoute et une empathie, et c’est avec ces multiples atouts que Sylvie vous propose aujourd’hui un accompagnement et des conseils de qualité.</div>
    <br>
    <div>Des questions, contactez-moi et discutons-en !</div>
  </div>
</div>
