---
layout: home
title: Sylvie Lelièvre, Naturopathe et Infirmière, à Nantes et aux Herbiers
description: Sylvie Lelièvre est naturopathe à Nantes et aux Herbiers. Elle a longtemps exercé comme infirmière et s'est spécialisée dans la micronutrition et le soin par l'alimentation.
---
<div class="box">

  <div class="flex-img-bigger">
    <%= image_tag 'Marguerite.jpg', class: "img-column", alt: "marguerite" %>
  </div>
  <div class="flex-txt">

    <h1>Qui suis-je?</h1>
    <div class="flex-item-pres-text">
        <h3 class= "less-margin-h3"> D'abord infirmière... </h3>
        <p>Toute jeune, j’ai compris l’importance d’une bonne hygiène de vie et de la prévention pour avoir une bonne santé. A 18 ans, je me suis achetée mon premier livre de cuisine biologique.  J’ai alors commencé mon chemin vers l’alimentation santé. J’ai fait des essais et suivi de nombreux stages (alimentation vivante, cures de jus de légumes et de fruits frais, monodiète et jeûnes).</p>
        <p>Par souci d’un métier de soins et de communication, j’ai choisi le métier d’infirmière que j’ai exercé pendant plus de 15 ans dans différentes structures et sous différentes formes :</p>
        <p>- hôpital en médecine, chirurgie, services enfants et adultes,</p>
        <p>- à domicile, </p>
        <p>- en formation </p>
        <p>Ce métier relationnel m’a beaucoup appris sur les relations humaines,  l’approche de la maladie et de la fin de la vie.</p>
    </div>
    <br>

    <h3 class= "less-margin-h3">... Et désormais naturopathe</h3>
    <p>De sérieux soucis de santé m’ont amené à réfléchir et à prendre  une autre voie à laquelle je m’intéressais depuis plusieurs années. J’ai choisi de me tourner  vers la nature et le métier de naturopathe pour apporter des conseils et permettre à chacun d’être acteur de sa santé. </p>
    <p>Naturopathe depuis 5 ans, je suis convaincue de l’importance de la prévention et d’une bonne santé du système digestif.
        (Un intestin en bonne santé participe à l’équilibre nerveux et à une bonne santé immunitaire ainsi qu’à la santé de la peau.  De nombreux soucis ont pour origine l’intestin.) </p>
    <br>
    <p>Vous avez des questions? Contactez-moi et discutons-en !</p>
  </div>
</div>
