---
title: Sylvie Leièvre, Naturopathe et Infirmière, à Nantes et aux Herbiers
description: Sylvie Lelièvre est naturopathe à Nantes et aux Herbiers. Elle a longtemps exercé comme infirmière et s'est spécialisée dans la micronutrition et le soin par l'alimentation.
---

<h1>Mon Parcours</h1>
