---
layout: home
title: Sylvie Leièvre, Naturopathe et Infirmière, à Nantes et aux Herbiers
description: Sylvie Lelièvre est naturopathe à Nantes et aux Herbiers. Elle a longtemps exercé comme infirmière et s'est spécialisée dans la micronutrition et le soin par l'alimentation.
---
<div class="box">
  <div class="flex-item flex-img-bigger">
    <img class="img-column" src="../images/Marguerite.jpg" alt="fruits">
  </div>

  <div class="flex-item flex-txt">
    <h1>Qui suis-je?</h1>

    <div class ="center-align">
          <img class="responsive-img avatar" src="../images/user.png" alt="fruits">
      </div>
      <br>
       <br>
      <div>Sylvie a depuis son adolescence, été convaincue de la nécessité de prendre soin de soi et des autres. Elle s’est tout naturellement tournée vers le métier d’infirmière pour répondre à ce besoin profond de communication. Des soucis de santé l’ont amenée à réfléchir sur les causes et les origines des maladies et sur les bonnes habitudes préventives à prendre pour préserver au mieux notre santé. C’est cette approche préventive qui l’a guidée vers les médecines complémentaires, et sa passion pour l’alimentation santé vers le métier de naturopathe. Sa formation et ses compétences acquises lui permettent aujourd’hui de vous apporter des conseils simples et personnalisés, souvent méconnus du grand public, mais qu’il est possible d’intégrer
      simplement dans votre vie quotidienne.</div>
      <br>
      <div>Des questions, contactez-moi et discutons-en !</div>
  </div>
</div>
