---
layout: home
---

<div class="banner-subpage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url(<%= image_path "chemin.png" %>);" alt="chemin">
  <h1 class= "white-text">Accompagnement au parcours de vie</h1>
</div>

<div class="smaller-adjusted-container">

  <br>
  <h4 class = "citation-couleur-bleu center-align">«<i>L'oreille ne se lasse jamais d'écouter.</i>»</h4>
  <h4 class = "citation-couleur-bleu center-align">Proverbe africain</h4>
  <br>

  <div>
    <p>Au fur et à mesure de mes rencontres avec les clients, j’ai réalisé que certains venaient vers moi pour être accompagnés dans leur vie, que ce soit face à la maladie d’un proche, face à une épreuve difficile de leur vie (séparation, maladie, etc……). </p>
    <br>
    <p>Grâce à mon métier d’infirmière, j‘ai appris à avoir une écoute bienveillante et à ne pas porter de jugement afin de respecter chacun dans son parcours de vie. Il m’est important d’établir une relation de confiance, de simplicité et d’authenticité avec les personnes que je rencontre.</p>
  </div>
  </div>
<br>
