---
layout: home
title: Naturopathie, Micronutrition et Alimentation Crue, à Nantes et aux Herbiers
---
 <div class="box">
  <div class="flex-item flex-img">
    <%= image_tag 'arbre.jpg', class: "img-column", alt: "arbre" %>
  </div>

  <div class="flex-item flex-txt">
    <h1>Mes Spécialités</h1>

    <h3>Je vous propose des ateliers autour du cru et de l'alimentation</h3>

    <p>L'Alimentation vivante ou alimentation haute vitalité est une alimentation constituée de nourriture "vivante" 100 % naturelle : des graines germées, des fruits et légumes crus et fraîchement cueillis, des graines et fruits oléagineux pré-germés, des algues alimentaires, et des aliments n'ayant été ni cuits ni raffinés, les moins dénaturés possible. Ces aliments seront de préférence biologiques ou cultivés selon les règles de la bio-dynamie*, des végétaux non traités non issus d’hybridations ou de manipulations génétiques, dénués d'artifices de culture, ayant poussé sur un sol sain.</p>
    <br>
    <p>En Alimentation vivante, la qualité des produits est importante. En effet, les aliments non bio vendus en épicerie conventionnelle ou les produits de l'alimentation industrielle peuvent contenir des additifs, colorants, épaississants, exhausteurs de goût, édulcorants, conservateurs, gélifiants, antioxygènes, émulsifiants, stabilisants, arômes industriels, pesticides et engrais chimiques… nocifs à la santé, tous ces "améliorants" de la rentabilité, du goût et/ou de la présentation, que vous n'oseriez peut être pas porter à votre bouche, s'ils vous étaient présentés séparément dans votre assiette (et non amalgamés avec les aliments) car le corps n'est pas une poubelle.
    En ce qui concerne les céréales, optez pour des céréales complètes, les céréales raffinées sont des aliments appauvris. Avec les céréales complètes, vous profiterez non seulement des fibres présentes dans l'enveloppe des grains (le son) mais aussi d'une grande richesse en nutriments de valeur : vitamines et sels minéraux. Les résidus de pesticides étant principalement concentrés dans l’enveloppe des graines de céréales, il est donc important de privilégier la qualité et donc le bio pour vos achats de céréales complètes.
    Vous trouverez un exemple dans la description des composants d'une tarte aux cerises de supermarché sur le site biogassendi, c'est édifiant !</p>
  </div>

</div>



