---
layout: home
title: Naturopathie, Micronutrition et Alimentation Crue, à Nantes et aux Herbiers
---
 <div class="box">
  <div class="flex-item flex-img">
    <img class="img-column" src="../images/Fruits.jpg" alt="fruits">
  </div>

  <div class="flex-item flex-txt">
    <h1>Mes Spécialités</h1>

    <h3>Je vous propose des ateliers autour du cru et de l'alimentation</h3>

    <p>L'Alimentation vivante ou alimentation haute vitalité est une alimentation constituée de nourriture "vivante" 100 % naturelle : des graines germées, des fruits et légumes crus et fraîchement cueillis, des graines et fruits oléagineux pré-germés, des algues alimentaires, et des aliments n'ayant été ni cuits ni raffinés, les moins dénaturés possible. Ces aliments seront de préférence biologiques ou cultivés selon les règles de la bio-dynamie*, des végétaux non traités non issus d’hybridations ou de manipulations génétiques, dénués d'artifices de culture, ayant poussé sur un sol sain.</p>
  </div>

</div>



